.indicator_title {
    text-align: center;
    width: 220px;
}

.progress_title {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

.section_title {
    text-align: center;
}

.section_subtitle {
    text-align: center;
    margin-bottom: 7%;
}

.second_section{
    margin-top: 20px;
}

.DateRangePickerInput{
    border: 0px;
    background-color: transparent;
}

.control_container{
    margin-left: 5%;
    margin-top: 1%;
}

.top_flights_table{
    padding-right: 10px;
    padding-left: 10px;
}

@media (max-width: 64em) {
    .Select-placeholder{
        text-align: center;
    }

    .control_container{
        margin-left: 0.5%;
        margin-top: 1%;
    }

    .period_and_movement{
        margin-left: 10%;
    }

    .section_title {
        text-align: center;
        margin-bottom: 0;
        margin-top: 2%;
    }

    .section_subtitle {
        text-align: center;
        margin-bottom: 1%;
    }
}